<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491487189110-4u1skpmqa4ptu66qionfpml4o59ij8lr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491487189110-4u1skpmqa4ptu66qionfpml4o59ij8lr</string>
	<key>API_KEY</key>
	<string>AIzaSyCWNsDh4cf_LozIz724qUs2lWrqMhI4w0s</string>
	<key>GCM_SENDER_ID</key>
	<string>491487189110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AB.bavcom.PushDemo</string>
	<key>PROJECT_ID</key>
	<string>push-demo-df09a</string>
	<key>STORAGE_BUCKET</key>
	<string>push-demo-df09a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491487189110:ios:5308840c95df0d2a12a757</string>
</dict>
</plist>